{% include head.html %}
  <body>
{% include header.html %}
    <div class="container">
      <section id="main_content">
        <h1>./{% if page.layout == 'post' %}Blog{% else %}{{ page.title }}{% endif %}</h1>
        {{ content }}
      </section>
      <section>
        <h2>Thanks to our teams' sponsors:</h2>
        <div>
          <a href="https://www.ford.com"><img src="/assets/uploads/ford.png" alt="Ford"></a>
        </div>
      </section>
      {% include comments.html %}
    </div>
{% include js-includes.html %}
{% include google-analytics.html %}
  </body>
</html>